#leaveForm {
    align-items: center;
    background-color: white;
    
}

.dropd {
    width: min-content;
}

.cm {
    padding-left: 50px;
}

#idl {
    padding-left: 50px;
}

#info2 {
    color: rgba(0, 0, 0, 0.656);
    text-align: center;
}
