table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    vertical-align: bottom;
  }

#info1, #info2 {
  color: aliceblue;
  font-weight: 700;
  text-align: left;
}
