th {
    text-align: center;
    padding: 20px;
}

.container-sm {
    
    padding-left: 20%;
    
}

th{
    height: 40px;
    font-size: small;
}

.flex-container {
    width: 100%;
    display: flex;
  }

